@using Urnaus.Client.Services
<header>
    <div class="container">
        <div class="header__container">
            <div class="header__logo" href="@NavigationUrls.ToMain">
                <img src="https://devel.prom.uz/upload/organization_logos/ee/6e/ee6e2d1fa54c427cb384776ce3891061.png" alt="">
                <h1>URANUS</h1>
            </div>
            <ul class="header__list">
                <li>
                    <a  href="@NavigationUrls.ToCourses">Все курсы</a>
                </li>
                <li>
                    <a style="cursor:pointer" href="@NavigationUrls.ToUser">Мои курсы</a>
                </li>
                <li>
                    <a href="@NavigationUrls.ToHomework">Домашние задания</a>
                </li>
                <li>
                    <a href="@NavigationUrls.ToAbout">О нас</a>
                </li>
                <li>
                    <a href="@NavigationUrls.ToContact">Контакты</a>
                </li>
            </ul>

            <div class="header__auth">
                <a href="@NavigationUrls.ToLogin">Войти</a>
                <a href="@NavigationUrls.ToReg" class="auth-registration">Регистрация</a>
            </div>
           
        </div>
    </div>
</header>

@code {

}
